[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"

[packages]
pyjwt = "==2.8.0"
Werkzeug = "==3.0.0"
"fastapi[all]" = "==0.103.2"
pymongo = "==4.5.0"
uvicorn = "==0.23.2"
email-validator = "2.0.0"
python-multipart = "0.0.6"
aiofiles = "23.2.1"
pytest = "7.4.2"
google-api-python-client = "2.103.0" 
google-auth-httplib2 = "0.1.1"
google-auth-oauthlib = "1.1.0"
qrcode = "7.4.2"
fpdf2 = "2.7.6"
# python sdk for docker
docker="6.1.2"
pandas = "2.1.1"
numpy = "1.26.0"
xlsxwriter = "3.1.7"
[requires]
python_version = "3.11"
